body {
    padding: 0;
    margin: 0;
}

.head {
    background-color: #343A40;
}

h1 {
    text-align: center;
    padding: 10%;
}

.blockcv {
    background-color: #343A40;
}

.imgmoi {
    width: 10em;
    border-radius: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1em 0.5em 0.5em rgba(0, 0, 0, 0.473);
}

.developpeur {
    text-align: center;
    padding: 10%;
}

.cuisinier {
    text-align: center;
    padding: 10%;
}

.code {
    width: 100%;
    max-height: 15em;
    border-radius: 5em;
}

.cerise {
    width: 100%;
    max-height: 15em;
    border-radius: 5em;
}

.pdeveloppeur {
    margin: 5%;
}

.pcuisinier {
    margin: 5%;
}

#button {
    text-decoration: none;
}


/*dev*/

.blockcv02 {
    background-color: #343A40;
}

#carousel {
    max-width: 30em;
}

.imgdev {
    width: 100%;
    height: 100%;
}


/*cook*/

.imgcook {
    width: 100%;
    max-height: 10em;
}

.pcook {
    background-color: #343A40;
    min-height: 7em;
    display: block;
    padding: 20px;
}

.footer {
    background-color: #343A40;
    padding: 5%;
}